nav {
  margin-bottom: 0 !important;
}

.main-content {
  display: flex;
  width: 100%;
}

.about-me-image {
  width: 35%;
}

.headshot {
  width: 100%;
}

.about-me-container {
  width: 65%;
  background-image: url("images/about_me_content.jpg");
  background-size: cover;
}

.about-me-content {
  width: 94%;
  margin-left: 20px;
  color: white;
}

.section-header {
  text-align: center;
  font-size: 30px;
}

.code-examples-container {
  display: flex;
  width: 100%;
  margin-left: 50px;
}

.links-container {
  width: 20%;
  margin: 0 auto;
}

.links-image {
  height: 100px;
}
