nav {
  margin-bottom: 0 !important;
}

.main-content {
  display: flex;
  width: 100%;
}

.about-me-image {
  width: 35%;
}

.headshot {
  width: 100%;
}

.about-me-container {
  width: 65%;
}

.about-me-content {
  width: 94%;
  margin-left: 20px;
}

.section-header {
  text-align: center;
  font-size: 30px;
}
